<div class="">
	<ul>
		<li>Home</li>
		<li>About</li>
		<li>Products</li>
		<li>Contacts</li>
	</ul>
</div>







<h1>Home</h1>
We hope you find exactly what you're looking for in a place to stay.

<ul>
  {{#each model as |product|}}
    {{product-tile product=product}}
  {{/each}}
</ul>


{{lookup-form nameLookup="nameLookup"}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contacts'}}Click here to contact us.{{/link-to}}